<div>
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()">x</button>
        <div>Zmiana szablonu</div>
    </div>
    <div class="modal-body">Wprowadzone dane w tytule i treści wiadomości zostaną zastąpione danymi z wybranego
        szablonu. Kontunuować?
        <p>
            <button type="button" class="btn btn-warning" ng-click="$close()">Tak</button>
            <button type="button" class="btn btn-default" ng-click="$dismiss()">Nie</button>
        </p>
    </div>
</div>