<div class="row" ng-cloak>
    <div class="col-xs-12">
        <div class="form-inline">
            <button type="button" class="btn btn-default" ng-click="vm.openContactPicker()">
                {{ vm.contact ? vm.contact.firstName + ' ' + vm.contact.lastName : 'Wybierz adresata' }}</button>
            <button type="button" class="btn btn-default" ng-click="vm.openTemplatePicker()">
                {{ vm.template.name || 'Wybierz szablon' }}</button>
            <select class="form-control" ng-model="vm.message.type">
                <option value="SMS">SMS</option>
                <option value="EMAIL">Email</option>
            </select>
            <div class="pull-right">
                <a class="btn btn-primary" ng-click="vm.send()"><i class="fa fa-send"></i> Wyślij</a>
            </div>
        </div>
    </div>
</div>

<div class="row" ng-cloak>
    <div class="col-sm-8">
        <div class="form-group" ng-if="vm.message.type == 'EMAIL'">
            <label for="receiverEmail" class="control-label">Email odbiorcy</label>
            <input type="text" class="form-control" name="receiverEmail" ng-show="vm.message.type == 'EMAIL'" ng-model="vm.receiverEmail" />
        </div>
        <div class="form-group" ng-if="vm.message.type == 'SMS'">
            <label for="receiverPhone" class="control-label">Telefon odbiorcy</label>
            <input type="text" class="form-control" name="receiverPhone" ng-show="vm.message.type == 'SMS'" ng-model="vm.receiverPhone" />
        </div>
        <div class="form-group" ng-if="vm.message.type == 'EMAIL'">
            <label for="messageHeader" class="control-label">Tytuł wiadomości</label>
            <input type="text" ng-maxlength="65536" ng-required="true" ng-model="vm.message.header"
                   class="form-control" name="messageHeader" cmp-is-focused/>
        </div>
        <div class="form-group">
            <label for="messageBody" class="control-label">Treść wiadomości</label>
            <textarea ng-maxlength="65536" ng-required="true" ng-model="vm.message.body"
                      class="form-control" name="messageBody" rows="16" cmp-is-focused></textarea>
        </div>
    </div>
    <div class="col-sm-4" ng-if="vm.contact">
        <cmp-notes contact="vm.contact"></cmp-notes>
    </div>
</div>

<div class="floating-panel" ng-cloak>
    <cmp-contact-picker-directive is-open="vm.contactPicker" contacts="vm.contacts"></cmp-contact-picker-directive>
    <cmp-template-picker-directive is-open="vm.templatePicker" templates="vm.templates"></cmp-template-picker-directive>
</div>