<form name="vm.messageForm">
<div class="row" ng-cloak>
    <div class="col-xs-12">
        <div class="form-inline">
            <button type="button" class="btn btn-default" ng-click="vm.openContactPicker()">
                {{ vm.contact ? vm.contact.firstName + ' ' + vm.contact.lastName : 'Wybierz adresata' }}</button>
            <button type="button" class="btn btn-default" ng-click="vm.openTemplatePicker()">
                {{ vm.template.name || 'Wybierz szablon' }}</button>
            <select class="form-control" ng-model="vm.message.type" ng-change="vm.messageTypChange()">
                <option value="SMS">SMS</option>
                <option value="EMAIL">Email</option>
            </select>

            <div class="form-group left-margin" ng-class="{'has-error': vm.fieldValidation(vm.messageForm.sendAtDate) || vm.fieldValidation(vm.messageForm.sendAtTime) }">
                <label for="sendAtDate" class="control-label">Data wysyłki</label>
                <input type="date" class="form-control" name="sendAtDate" ng-model="vm.message.sendAt" ng-required="true"/>
                <input type="time" class="form-control" name="sendAtTime" ng-model="vm.message.sendAt" ng-required="true"/>
            </div>

            <div class="pull-right">
                <button type="button" 
                        class="btn btn-primary" 
                        ng-click="vm.sendMessage()" 
                        ng-disabled="vm.sendingInProgress"><i class="fa fa-send" ng-if="!vm.sendingInProgress"></i><i class="fa fa-spinner fa-spin" ng-if="vm.sendingInProgress"></i> Wyślij</button>
            </div>
        </div>
    </div>
</div>

<div class="row" ng-cloak>
    <div class="col-sm-8">
        <div class="form-group" ng-if="vm.message.type == 'EMAIL'"
                ng-class="{'has-error': vm.fieldValidation(vm.messageForm.recipientEmail)}">
            <label for="recipientEmail" class="control-label">Email odbiorcy</label>
            <input type="email" class="form-control" name="recipientEmail" ng-show="vm.message.type == 'EMAIL'"
                   ng-model="vm.message.recipientEmail" ng-required="true"/>
        </div>
        <div class="form-group" ng-if="vm.message.type == 'SMS'"
             ng-class="{'has-error': vm.fieldValidation(vm.messageForm.recipientPhone)}">
            <label for="recipientPhone" class="control-label">Telefon odbiorcy</label>
            <input type="text" class="form-control" name="recipientPhone" ng-show="vm.message.type == 'SMS'"
                   ng-model="vm.message.recipientPhone" ng-required="true"/>
        </div>
        <div class="form-group" ng-if="vm.message.type == 'EMAIL'"
             ng-class="{'has-error': vm.fieldValidation(vm.messageForm.messageHeader)}">
            <label for="messageHeader" class="control-label">Tytuł wiadomości</label>
            <input type="text" ng-maxlength="65536" ng-required="true" ng-model="vm.message.header"
                   class="form-control" name="messageHeader" cmp-is-focused/>
        </div>
        <div class="form-group" ng-class="{'has-error': vm.fieldValidation(vm.messageForm.messageBody)}">
            <label for="messageBody" class="control-label">Treść wiadomości</label>
            <textarea ng-maxlength="vm.bodyMaxLength" ng-required="true" ng-model="vm.message.body"
                      class="form-control" name="messageBody" rows="16" cmp-is-focused></textarea>
        </div>
        <div ng-show="vm.message.type == 'SMS'" class="text-right">{{ vm.message.body.length }} </div>
    </div>
    <div class="col-sm-4" ng-if="vm.contact">
        <cmp-notes contact="vm.contact"></cmp-notes>
    </div>
</div>

<div class="floating-panel" ng-cloak>
    <cmp-contact-picker-directive is-open="vm.contactPicker" contacts="vm.contacts"></cmp-contact-picker-directive>
    <cmp-template-picker-directive is-open="vm.templatePicker" templates="vm.templates"></cmp-template-picker-directive>
</div>
</form>