<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html ng-app="cmp" xmlns="http://www.w3.org/1999/xhtml" xml:lang="pl">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta name="keywords" content="python web application"/>
    <meta name="description" content=""/>

    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}"
          type="text/css" media="screen, handheld">
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}"
          type="text/css" media="screen, handheld">
    <link rel="stylesheet" href="{% static 'rdash-ui/dist/css/rdash.min.css' %}"
          type="text/css" media="screen, handheld">
    <link rel="stylesheet" href="{% static 'assets/css/stylesheet.css' %}"
          type="text/css" media="screen, handheld">
    <link rel="stylesheet" href="{% static 'ng-tags-input/ng-tags-input.min.css' %}"
          type="text/css" media="screen, handheld">
    <link rel="stylesheet" href="{% static 'ng-tags-input/ng-tags-input.bootstrap.min.css' %}"
          type="text/css" media="screen, handheld">
</head>
<body>
<div id="page-wrapper" ng-class="{'open': vm.isSidebarOpened}" ng-cloak ng-controller="MasterCtrl as vm">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar">
            <li class="sidebar-main">
                <a ng-click="vm.toggleSidebar()" class="sidebar-toggler">
                    <small>NAWIGACJA</small>
                    <span class="menu-icon glyphicon glyphicon-transfer"></span>
                </a>
            </li>
{#            <li class="sidebar-title"><span></span></li>#}
            <li class="sidebar-list">
                <a ui-sref="dashboard">Dashboard <span class="menu-icon fa fa-tachometer"></span></a>
            </li>
            <li class="sidebar-list">
                <a ui-sref="contacts">Kontakty <span class="menu-icon fa fa-users"></span></a>
            </li>
            <li class="sidebar-list">
                <a ui-sref="messageTemplates">Szablony <span class="menu-icon fa fa-puzzle-piece"></span></a>
            </li>
            <li class="sidebar-list">
                <a ui-sref="queue">Wiadomości <span class="menu-icon fa fa-envelope"></span></a>
            </li>
        </ul>
        <div class="sidebar-footer">
            <div class="col-xs-6">
                <a href="" target="_blank">
                    Github
                </a>
            </div>
            <div class="col-xs-6">
                <a href="" target="_blank">
                    About
                </a>
            </div>
        </div>
    </div>
    <!-- End Sidebar -->

    <div id="content-wrapper">
        <div class="page-content">

            <!-- Header Bar -->
            <div class="row header">
                <div class="col-xs-12">
                    <div class="user pull-right">
                        <div class="item dropdown" dropdown>
                            <a href="#" class="dropdown-toggle" dropdown-toggle>
                                <img src="img/avatar.jpg">
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li class="dropdown-header">
                                    admin
                                </li>
                                <li class="divider"></li>
                                <li class="link">
                                    <a href="#">
                                        Wyloguj
                                    </a>
                                </li>
                            </ul>
                        </div>
                        {#                        <div class="item dropdown">#}
                        {#                            <a href="#" class="dropdown-toggle">#}
                        {#                                <i class="fa fa-bell-o"></i>#}
                        {#                            </a>#}
                        {#                            <ul class="dropdown-menu dropdown-menu-right">#}
                        {#                                <li class="dropdown-header">#}
                        {#                                    Notifications#}
                        {#                                </li>#}
                        {#                                <li class="divider"></li>#}
                        {#                                <li>#}
                        {#                                    <a href="#">Server Down!</a>#}
                        {#                                </li>#}
                        {#                            </ul>#}
                        {#                        </div>#}
                    </div>
                    <div class="meta">
                        <div class="page">
                            Centrum motywacji i coachingu
                        </div>
                        <div class="breadcrumb-links">
                            <ui-breadcrumbs displayname-property="data.displayName">
                            </ui-breadcrumbs>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Header Bar -->

            {% verbatim %}
            <div class="row alerts-container">
                <div class="col-xs-12" ng-show="vm.alerts.length > 0">
                    <alert data-ng-repeat="alert in vm.alerts" type="{{ alert.type }}"
                           close="vm.closeAlert($index)">{{ alert.text }}
                    </alert>
                </div>
            </div>
            {% endverbatim %}

            <!-- Main Content -->
            <div class="master-container">
                <div ui-view class="at-view-plain-fade-in at-view-plain-fade-out">

                </div>
            </div>
        </div>
        <!-- End Page Content -->
    </div>
    <!-- End Content Wrapper -->
</div>
<!-- End Page Wrapper -->
</div>
<!-- Placed at the end of the document so the pages load faster -->
{% if False %}
    <script src="{% static 'angular/angular.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'angular-cookies/angular-cookies.min.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'angular-animate/angular-animate.min.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'angular-ui-router/release/angular-ui-router.min.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'angular-bootstrap/ui-bootstrap-tpls.min.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'angular-utils-ui-breadcrumbs/uiBreadcrumbs.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'lodash/lodash.min.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'ng-lodash/build/ng-lodash.min.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'ng-tags-input/ng-tags-input.min.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'handlebars/handlebars.min.js' %}"
            type="text/javascript"></script>
{% else %}
    <script src="{% static 'angular/angular.js' %}" type="text/javascript"></script>
    <script src="{% static 'angular-cookies/angular-cookies.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'angular-animate/angular-animate.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'angular-ui-router/release/angular-ui-router.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'angular-bootstrap/ui-bootstrap-tpls.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'angular-utils-ui-breadcrumbs/uiBreadcrumbs.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'lodash/lodash.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'ng-lodash/build/ng-lodash.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'ng-tags-input/ng-tags-input.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'handlebars/handlebars.js' %}"
            type="text/javascript"></script>
{% endif %}
<script src="{% static 'assets/js/angular-locale_pl-pl.js' %}"
            type="text/javascript"></script>
{% verbatim %}
<script type="text/ng-template" id="directives/uiBreadcrumbs/uiBreadcrumbs.tpl.html">
<ol class="breadcrumb">
  <li ng-repeat="crumb in breadcrumbs"
      ng-class="{ active: $last }"><a ui-sref="{{ crumb.route }}" ng-if="!$last">{{ crumb.displayName }}&nbsp;</a><span ng-show="$last">{{ crumb.displayName }}</span>
  </li>
</ol>
</script>
{% endverbatim %}
<script src="{% static 'app/app.module.js' %}"
        type="text/javascript"></script>
<script src="{% static 'app/app.routes.js' %}"
        type="text/javascript"></script>
<script src="{% static 'app/messageTemplates/messageTemplatesCtrl.js' %}"
        type="text/javascript"></script>
<script src="{% static 'app/messageTemplates/messageTemplatesEditCtrl.js' %}"
        type="text/javascript"></script>
<script src="{% static 'app/messageTemplates/messageTemplatesAddCtrl.js' %}"
        type="text/javascript"></script>
<script src="{% static 'app/messageTemplates/messageTemplatesService.js' %}"
        type="text/javascript"></script>
<script src="{% static 'app/contacts/contactsCtrl.js' %}"
        type="text/javascript"></script>
<script src="{% static 'app/contacts/contactsService.js' %}"
        type="text/javascript"></script>
<script src="{% static 'app/contacts/contactsEditCtrl.js' %}"
        type="text/javascript"></script>
<script src="{% static 'app/message/messageCtrl.js' %}"
        type="text/javascript"></script>
<script src="{% static 'app/message/templatePickerDirective.js' %}"
        type="text/javascript"></script>
<script src="{% static 'app/message/contactPickerDirective.js' %}"
        type="text/javascript"></script>
<script src="{% static 'app/message/templatingService.js' %}"
        type="text/javascript"></script>
<script src="{% static 'app/common/common.js' %}"
        type="text/javascript"></script>
<script src="{% static 'app/common/masterCtrl.js' %}"
        type="text/javascript"></script>
<script src="{% static 'app/common/nameTagFilter.js' %}"
        type="text/javascript"></script>
<script src="{% static 'app/common/tagColorService.js' %}"
        type="text/javascript"></script>
<script src="{% static 'app/common/typeSelectDirective.js' %}"
        type="text/javascript"></script>
<script src="{% static 'app/common/typeFilter.js' %}"
        type="text/javascript"></script>
<script src="{% static 'app/common/tagService.js' %}"
        type="text/javascript"></script>
<script src="{% static 'app/common/validationService.js' %}"
        type="text/javascript"></script>
<script src="{% static 'app/common/alertService.js' %}"
        type="text/javascript"></script>
<script src="{% static 'app/common/contactNeededIndicator.js' %}"
        type="text/javascript"></script>
</body>
</html>
