<div class="row" ng-cloak>
    <div class="col-xs-12">
        <div class="pull-left">
            <a class="btn btn-default" ui-sref="^"><i class="fa fa-chevron-left"></i> Cofnij</a>
        </div>
        TODO: kasowanie
        <div class="pull-right">
            <a class="btn btn-success" ng-click="vm.save()"><i class="fa fa-save"></i> Zapisz</a>
        </div>
    </div>
</div>

<div class="row" ng-cloak>
    <div class="col-xs-12 col-sm-8">
        <form class="form-horizontal" name="vm.contactForm">
            <div class="form-group" ng-class="{'has-error': vm.fieldValidation(vm.contactForm.firstName)}">
                <label for="firstName" class="col-sm-2 control-label">Imię </label>

                <div class="col-sm-10">
                    <input type="text" name="firstName" class="form-control" ng-model="vm.contact.firstName"
                           cmp-is-focused
                           ng-maxlength="64" ng-required="true"
                           placeholder="Imię">
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': vm.fieldValidation(vm.contactForm.lastName)}">
                <label for="lastName" class="col-sm-2 control-label">Nazwisko </label>

                <div class="col-sm-10">
                    <input type="text" name="lastName" class="form-control" ng-model="vm.contact.lastName"
                           cmp-is-focused
                           ng-maxlength="64" ng-required="true"
                           placeholder="Nazwisko">
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': vm.fieldValidation(vm.contactForm.email)}">
                <label for="email" class="col-sm-2 control-label">Email </label>

                <div class="col-sm-10">
                    <input type="email" name="email" class="form-control" ng-model="vm.contact.email"
                           cmp-is-focused
                           ng-maxlength="256"
                           placeholder="Email">
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': vm.fieldValidation(vm.contactForm.phone)}">
                <label for="phone" class="col-sm-2 control-label">Telefon </label>

                <div class="col-sm-10">
                    <input type="text" name="phone" class="form-control" ng-model="vm.contact.phone"
                           cmp-is-focused
                           ng-maxlength="16
                           placeholder="Telefon">
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': vm.fieldValidation(vm.contactForm.gender)}">
                <label for="name" class="col-sm-2 control-label">Płeć {{ vm.contactForm.gender }}</label>

                <div class="col-sm-10">
                    <label class="radio-inline">
                        <input type="radio" name="contactForm" value="1" ng-model="vm.contact.gender"> pan
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="contactForm" value="2" ng-model="vm.contact.gender"> pani
                    </label>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': vm.fieldValidation(vm.contactForm.age)}">
                <label for="type" class="col-sm-2 control-label">Wiek</label>

                <div class="col-sm-10">
                    <select name="age" class="form-control" ng-model="vm.contact.age"
                            ng-options="age for age in vm.ageRange" ng-required="true">
                    </select>
                </div>
            </div>
            <div class="form-group" >
                <label for="lastContact" class="col-sm-2 control-label">Ostatni kontakt</label>

                <div class="col-sm-10">
                    <input type="text" name="lastContact" class="form-control" value="{{ vm.contact.lastContactDate | date: 'dd MMM yyyy' }}"
                           placeholder="Brak kontaktu" readonly>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': vm.contact.postponeChecked && vm.fieldValidation(vm.contactForm.postponed)}">
                <div class="col-sm-10 col-sm-offset-2">
                    <label>
                        <input type="checkbox" ng-model="vm.contact.postponeChecked"> Odrocz kontakt
                    </label>
                </div>
                <div class="col-sm-10 col-sm-offset-2" ng-if="vm.contact.postponeChecked">
                    Przypomnij o kontakcie po
                    <p class="input-group input-calendar">
                        <input type="date" class="form-control" ng-model="vm.contact.postponedDate"
                                min="2015-01-01" required="true" />
                       <!-- <input type="text" class="form-control" ng-model="vm.contact.postponed" datepicker-popup="{{ 'dd.MM.yyyy' }}"
                               is-open="opened" min-date="'01.01.2015'"
                               ng-required="true" close-text="Zamknij" current-text="Dziś" clear-text="Wyczyść"/>
                        <span class="input-group-btn">
                        <button type="button" class="btn btn-default"
                                ng-click="$event.preventDefault();$event.stopPropagation();opened = true;"><i
                                class="fa fa-calendar"></i></button>
                        </span> -->
                    </p>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': vm.fieldValidation(vm.contactForm.notificationsFrequency)}">
                <label for="notificationsFrequency" class="col-sm-2 control-label">Kontakt co:</label>

                <div class="col-sm-10">
                    <select name="notificationsFrequency" class="form-control"
                            ng-required="true" ng-model="vm.contact.notificationsFrequency">
                        <option value="24">1d</option>
                        <option value="48">2d</option>
                        <option value="72">3d</option>
                        <option value="96">4d</option>
                        <option value="120">5d</option>
                        <option value="144">6d</option>
                        <option value="168">7d</option>
                        <option value="240">10d</option>
                        <option value="336">14d</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="tags" class="col-sm-2 control-label">Tagi</label>

                <div class="col-sm-10">
                    <tags-input ng-model="vm.contact.tags" placeholder="Dodaj tagi opisujące cech i potrzeby danej osoby">
                        <auto-complete source="vm.matchingTags($query)"></auto-complete>
                    </tags-input>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': vm.fieldValidation(vm.contactForm.notes)}">
                <label for="message" class="col-sm-2 control-label">Notatki</label>

                <div class="col-sm-10">
                    <textarea ng-maxlength="65536" maxlength="65536" ng-model="vm.contact.notes"
                              class="form-control" name="notes" rows="16" cmp-is-focused></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                    <label>
                        <input type="checkbox" ng-model="vm.contact.isActive"> Kontakt aktywny
                    </label>
                </div>
            </div>
        </form>
    </div>
    <div class="col-xs-12 col-sm-4">
        <div class="well">
            <a class="btn btn-primary btn-sm pull-right" ui-sref="message({contactId:vm.contact.id})"><i class="fa fa-send"></i> Napisz</a>
            <p><small><strong>WYSŁANE:</strong></small></p>
            <ul class="list-unstyled">
                <li ng-repeat="message in vm.contact.messages">{{ message.deliveryDate }}<strong>{{ message.header }}</strong> - {{ message.body |limitTo:80 }} </li>
            </ul>

        </div>
    </div>
</div>