<div class="widget">
    <div class="widget-header"><i class="fa fa-users"></i> Lista kontaków
        <div class="pull-right">
            <a ui-sref="contacts">edytuj</a>
        </div>
    </div>
    <div class="medium no-padding">
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>Imię </th>
                    <th class="text-center">Ostatni kontakt</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="contact in vm.contacts | offsetFilter: vm.pageSize * (vm.currentPage - 1) | limitTo: vm.pageSize" class="smooth-ng-repeat">
                    <td>{{ contact.firstName }} {{ contact.lastName }}</td>
                    <td class="text-center info-cell">{{ contact.lastContactDate | date: dd.MM.yyyy }}</td>
                    <td class="text-center info-cell">
                        <cmp-contact-needed-indicator contact="contact"></cmp-contact-needed-indicator>
                    </td>
                    <td colspan="2" class="action-cell text-right">
                        <button type="button" class="btn btn-primary btn-sm" ng-click="vm.writeToContact(contact)"><i class="fa fa-send"></i> Napisz</button>
                        <button type="button" class="btn btn-warning btn-sm" ng-click="vm.postponeContact(contact)"><i class="fa fa-clock-o"></i> Odrocz</button>
                        <button type="button" class="btn btn-success btn-sm" ng-click="vm.markContactedNow(contact)"><i class="fa fa-check"></i> Wykonano</button>
                        <button type="button" class="btn btn-danger btn-sm" ng-click="vm.deactivateContact(contact)"><i class="fa fa-power-off"></i> Deaktywuj</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="widget-footer row">
        <pagination total-items="vm.contacts.length" ng-model="vm.currentPage"
                items-per-page="vm.pageSize" max-size="5" class="pagination-sm center-block"
                direction-links="false" boundary-links="true"
                rotate="false" previous-text="Następny"></pagination>
    </div>
</div>