<div class="widget">
    <div class="widget-header"><i class="fa fa-users"></i> Lista kontaków
        <div class="pull-right">
            <a ui-sref="board.contacts.add">dodaj</a>
        </div>
    </div>
    <div class="medium no-padding">
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>Imię</th>
                    <th class="text-center">Ostatni kontakt</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="contact in vmc.contacts | offsetFilter: vmc.pageSize * (vmc.currentPage - 1) | limitTo: vmc.pageSize" class="animated fade-in-from-left">
                    <td>{{ contact.firstName }} {{ contact.lastName }}</td>
                    <td class="text-center info-cell">{{ contact.lastContactDate | date: 'dd MMM yyyy' }}</td>
                    <td class="text-center info-cell">
                        <cmp-contact-needed-indicator contact="contact"></cmp-contact-needed-indicator>
                    </td>
                    <td colspan="2" class="action-cell text-right">
                        <button type="button" class="btn btn-primary btn-sm" ng-click="vmc.writeToContact(contact)"><i class="fa fa-send"></i> Napisz</button>
                        <button type="button" class="btn btn-warning btn-sm" ng-click="vmc.postponeContact(contact)"><i class="fa fa-clock-o"></i> Odrocz</button>
                        <button type="button" class="btn btn-success btn-sm" ng-click="vmc.markContactedNow(contact)"><i class="fa fa-check"></i> Wykonano</button>
                        <button type="button" class="btn btn-danger btn-sm" ng-click="vmc.deactivateContact(contact)"><i class="fa fa-power-off"></i> Deaktywuj</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="widget-footer row">
        <pagination total-items="vmc.contacts.length" ng-model="vmc.currentPage"
                items-per-page="vmc.pageSize" max-size="5" class="pagination-sm center-block"
                direction-links="false" boundary-links="true"
                rotate="false" previous-text="Następny"></pagination>
    </div>
</div>