<div>
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()">x</button>
        <div>Deaktywacja kontaktu</div>
    </div>
    <div class="modal-body">Deaktywacja kontaktu spowoduje, że kontakt nie będzie pojawiać się na listach z
        przypomnieniami. Deaktywować kontakt?
        <p>
            <button type="button" class="btn btn-warning" ng-click="$close()">Tak</button>
            <button type="button" class="btn btn-default" ng-click="$dismiss()">Nie</button>
        </p>
    </div>
</div>